@model TruckEditViewModel

<h2>Edit Truck </h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="TruckId" />
    <input type="hidden" asp-for="VehicleId" />

    <h3>Vehicle Information</h3>
    <div>
        <label asp-for="VehicleType"></label>
        <input asp-for="VehicleType" class="form-control" />
        <span asp-validation-for="VehicleType" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Make"></label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control"/>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FuelType"></label>
        <input asp-for="FuelType" class="form-control" />
        <span asp-validation-for="FuelType" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <h3>Truck Specifications</h3>
    <div>
        <label asp-for="CargoCapacity"></label>
        <input asp-for="CargoCapacity" class="form-control" type="number" />
        <span asp-validation-for="CargoCapacity" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EuroNumber"></label>
        <input asp-for="EuroNumber" class="form-control"/>
        <span asp-validation-for="EuroNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Transmission"></label>
        <input asp-for="Transmission" class="form-control" />
        <span asp-validation-for="Transmission" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="HorsePower"></label>
        <input asp-for="HorsePower" class="form-control" type="number" />
        <span asp-validation-for="HorsePower" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>