@{
    ViewData["Title"] = "Server Error";
}

<div class="container text-center mt-5 bg-light">
    <h1 class="display-4 text-danger">500 - Server Error</h1>
    <p class="lead">Sorry! Something went wrong on our end.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
